<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">
    <meta id="token" value="{{ csrf_token }}">
    <title>{% block meta_title %}{% endblock %} :{{ settings.SITE_NAME }}</title>
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="{{ settings.SITE_ICON }}">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link href="{% static 'css/style.blue.css' %}" rel="stylesheet" id="theme-stylesheet">

    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="{% static 'js/respond.min.js' %}"></script>
</head>

<body>

{% include 'force_shop/include/header.html' %}

{% include 'force_shop/include/navbar.html' %}

<div id="all">
    <div id="content">
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>

{% include 'force_shop/include/footer.html' %}

<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2018 Dmytro Liapun.</p>
        </div>
        <div class="col-md-6">
            <p class="pull-right">Site by <a href="http://dlyapun.com/">dlyapun.com</a></p>
        </div>
    </div>
</div>

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/bootstrap-hover-dropdown.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/front.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsl1tfTjPdxt8Awqh5o0XmPqPZoX_XtJ0"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="{% static 'vue/index.js' %}"></script>

    <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(function () {
        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
    });
    </script>

    {% block extra_js %}{% endblock %}
</body>

</html>
