{% extends "base.html" %}

{% block head_title %}Profile page{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 blog-main">
            <div class="blog-header">
                <h1 class="blog-title">Profile  {% if registration_completed %}<p class="text-success">Registration completed</p>{% endif %}</h1>
                <!--<p class="lead blog-description">Please to login in your cabinate</p>-->
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Sign In </strong></h3>
                </div>
                <div class="panel-body">
                    <p>Hello {{ user }}</p>
                    <p>
                        <form action="" method="post">{% csrf_token %}
                            {{ form.as_p }}
                        <button type="submit" class="btn btn-default">Edit</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}