{% extends 'base.html' %}

{% block meta_title %}Checkout order{% endblock %}

{% block main %}

<div id="all">
    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>Checkout - Address</li>
                </ul>
            </div>

            <div class="col-md-9" id="checkout">

                <div class="box">
                    <form method="post" action="">{% csrf_token %}
                        <h1>Checkout</h1>
                        <ul class="nav nav-pills nav-justified">
                            <li class="active"><a href="#"><i class="fa fa-map-marker"></i><br>Address</a>
                            </li>
                            <li class="disabled"><a href="#"><i class="fa fa-truck"></i><br>Delivery Method</a>
                            </li>
                            <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a>
                            </li>
                            <li class="disabled"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
                            </li>
                        </ul>

                        <div class="content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname">Firstname</label>
                                        <input type="text" class="form-control" id="order_first_name" name="order_first_name" value="{{ form.order_first_name.value|default:'' }}" required>
                                        {% if form.errors.order_first_name %}
                                            <strong class="text text-danger">{{ form.errors.order_first_name.as_text }}</strong>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname">Lastname</label>
                                        <input type="text" class="form-control" id="lastname" name="order_last_name" value="{{ form.order_last_name.value|default:'' }}" required>
                                        {% if form.errors.order_last_name %}
                                            <strong class="text text-danger">{{ form.errors.order_last_name.as_text }}</strong>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Shipping type</label>
                                        <select class="form-control" name="shipping_type">
                                            {% for obj in shippings %}
                                                {% if obj.id|stringformat:"s" == form.shipping_type.value|stringformat:"s" %}
                                                    <option value="{{ obj.id }}" checked>{{ obj.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for obj in shippings %}
                                                {% if obj.id|stringformat:"s" == form.shipping_type.value|stringformat:"s" %}
                                                {% else %}
                                                    <option value="{{ obj.id }}">{{ obj.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        {% if form.errors.shipping_type %}
                                            <strong class="text text-danger">{{ form.errors.shipping_type.as_text }}</strong>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="company">City</label>
                                        <input type="text" class="form-control" id="city" name="order_city" value="{{ form.order_city.value|default:'' }}" required>
                                        {% if form.errors.order_city %}
                                            <strong class="text text-danger">{{ form.errors.order_city.as_text }}</strong>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="street">Адрес (Или номер отделения <a href="https://novaposhta.ua">Новой Почты)</a></label>
                                        <input type="text" class="form-control" id="street" name="order_street" value="{{ form.order_street.value|default:'' }}" required>
                                        {% if form.errors.order_street %}
                                            <strong class="text text-danger">{{ form.errors.order_street.as_text }}</strong>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
{#                                <div class="col-sm-6 col-md-3">#}
{#                                    <div class="form-group">#}
{#                                        <label for="city">Company</label>#}
{#                                        <input type="text" class="form-control" id="city">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-sm-6 col-md-3">#}
{#                                    <div class="form-group">#}
{#                                        <label for="zip">ZIP</label>#}
{#                                        <input type="text" class="form-control" id="zip">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-sm-6 col-md-3">#}
{#                                    <div class="form-group">#}
{#                                        <label for="state">State</label>#}
{#                                        <select class="form-control" id="state"></select>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-sm-6 col-md-3">#}
{#                                    <div class="form-group">#}
{#                                        <label for="country">Country</label>#}
{#                                        <select class="form-control" id="country"></select>#}
{#                                    </div>#}
{#                                </div>#}

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="phone">Telephone</label>
                                        <input type="text" class="form-control" id="phone" name="order_phone" value="{{ form.order_phone.value|default:'' }}" required>
                                        {% if form.errors.order_phone %}
                                            <strong class="text text-danger">{{ form.errors.order_phone.as_text }}</strong>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" name="order_email" value="{{ form.order_email.value|default:'' }}" required>
                                        {% if form.errors.order_email %}
                                            <strong class="text text-danger">{{ form.errors.order_email.as_text }}</strong>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            <!-- /.row -->
                        </div>

                        <div class="box-footer">
                            <div class="pull-left">
                                <a href="basket.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Continue to Delivery Method<i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->


            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">

                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Order subtotal</td>
                                    <th>{{ cart.cart.total_price }}</th>
                                </tr>
                                <tr>
                                    <td>Shipping and handling</td>
                                    <th>$0.00</th>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <th>$0.00</th>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>{{ cart.cart.total_price }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.container -->
    </div>
</div>

{% endblock %}
